.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 600px;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.hudTop {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  max-width: 100%;
  background: url("/plasmic/cfund_landing_page/images/topHudsvg4.svg") top 0% left 0% / contain no-repeat;
  left: 0px;
  top: 0px;
  box-shadow: none;
  min-width: 0;
  padding: 0px;
}
.hudBottom {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  max-width: 100%;
  background: url("/plasmic/cfund_landing_page/images/botHudsvg4.svg") left 0% bottom 0% / contain no-repeat;
  left: 0px;
  top: auto;
  bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 110px 32px 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contentContainer {
    padding: 65px 19px 55px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #3180ff1a;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
