.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-kRHozJO8I);
  min-width: 0;
}
.navbar:global(.__wab_instance) {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.peformanceSection:global(.__wab_instance) {
  position: relative;
}
.howtoSection:global(.__wab_instance) {
  position: relative;
}
.feeSection:global(.__wab_instance) {
  position: relative;
}
.newsSection:global(.__wab_instance) {
  position: relative;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.contactusSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
