.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  overflow: hidden;
  box-shadow: none;
  position: relative;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 0px;
}
.root:hover {
  box-shadow: 0px 12px 24px 0px var(--token-kRHozJO8I);
  border: 1px solid #ffffff26;
}
.img__axUk3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__axUk3 > picture > img {
  object-fit: cover;
}
.img__axUk3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.cardContent {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.cardContent > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.cardContent > :global(.__wab_flex-container) > *,
.cardContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardContent > :global(.__wab_flex-container) > picture > img,
.cardContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.newsTitle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  color: var(--token-2dOOilx4I);
}
.date {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetDate {
  font-size: 14px;
  color: #ffffff99;
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
