.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8rem 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  max-width: 80rem;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__k4J02 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.hudCard:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.column__yRy0K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  padding-bottom: 2rem;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.link {
  width: auto;
  height: auto;
  max-width: 800px;
  background: var(--token-Vi_sjbcnJ);
  box-shadow: 0px 4px 12px 0px #ffa52059;
  margin-top: 32px;
  border-radius: 8px;
  padding: 12px 32px;
}
