.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-aVjqAh_pV);
  min-width: 0;
  padding: 8rem 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  color: var(--token-2dOOilx4I);
  padding-bottom: 2rem;
  text-align: center;
  min-width: 0;
}
.freeBox {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 80rem;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0px;
  }
}
.item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.newsCard__sDhGj:global(.__wab_instance) {
  position: relative;
}
.img__qGqos {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qGqos > picture > img {
  object-fit: cover;
}
.img__qGqos > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.item2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.newsCard___2E64A:global(.__wab_instance) {
  position: relative;
}
.img___8BFaO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8BFaO > picture > img {
  object-fit: cover;
}
.img___8BFaO > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.item3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.newsCard__wzFiK:global(.__wab_instance) {
  position: relative;
}
.img__g36Kh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__g36Kh > picture > img {
  object-fit: cover;
}
.img__g36Kh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.item4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.newsCard__ubZoR:global(.__wab_instance) {
  position: relative;
}
.img___5Keuz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5Keuz > picture > img {
  object-fit: cover;
}
.img___5Keuz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link {
  width: auto;
  height: auto;
  max-width: 800px;
  background: var(--token-Vi_sjbcnJ);
  box-shadow: 0px 4px 12px 0px #ffa52059;
  margin-top: 32px;
  border-radius: 8px;
  padding: 12px 32px;
}
