.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-kRHozJO8I);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .layout:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
