.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-kRHozJO8I);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.nabar {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  background: var(--token-kRHozJO8I);
  min-width: 0;
  padding: 16px;
}
.nabar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.nabar > :global(.__wab_flex-container) > *,
.nabar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.nabar > :global(.__wab_flex-container) > picture > img,
.nabar > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .nabar {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .nabar > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___691A {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox___691A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___691A > :global(.__wab_flex-container) > *,
.freeBox___691A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___691A > :global(.__wab_flex-container) > picture > img,
.freeBox___691A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___691A {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___691A > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___691A > :global(.__wab_flex-container) > *,
  .freeBox___691A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___691A > :global(.__wab_flex-container) > picture > img,
  .freeBox___691A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__hujB {
  object-fit: cover;
  width: 42px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}
.img__hujB > picture > img {
  object-fit: cover;
}
.img__hujB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__fCKun {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fCKun > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fCKun > :global(.__wab_flex-container) > *,
.freeBox__fCKun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fCKun > :global(.__wab_flex-container) > picture > img,
.freeBox__fCKun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCKun > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCKun > :global(.__wab_flex-container) > *,
  .freeBox__fCKun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fCKun > :global(.__wab_flex-container) > picture > img,
  .freeBox__fCKun
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__eMUb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yfQq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xhny0 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2dOOilx4I);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__gu4Ze {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2___8VpIk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__hxsb4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ei2Gl {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2dOOilx4I);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7KyAz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__iHni:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__cNq9S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t1KYz {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2dOOilx4I);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__xzMtj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__zsigR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__ubbu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9Yy9 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2dOOilx4I);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__adRw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__ru9D2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__zxeVv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ud59 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-2dOOilx4I);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__h7YyI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__dzGi3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 44px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px;
}
.text__gTajw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__fDsZs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2___0KrgN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__snTci {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__deVyn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ebjh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.mainHero {
  display: flex;
  position: relative;
  width: 100%;
  height: 70vh;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url("/plasmic/cfund_landing_page/images/image15.png") top 50% left 50% / cover repeat;
  backdrop-filter: blur(0px);
  min-width: 0;
  -webkit-backdrop-filter: blur(0px);
  padding: 0% 80px 0px;
}
.mainHero > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.mainHero > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainHero {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainHero > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qYg2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.h1__gz6Uf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #00c2ff;
  box-shadow: none;
  min-width: 0;
}
.h5__dPFfE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 24px;
  padding-top: 24px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__ktW8F {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px;
}
.freeBox__ktW8F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ktW8F > :global(.__wab_flex-container) > *,
.freeBox__ktW8F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ktW8F > :global(.__wab_flex-container) > picture > img,
.freeBox__ktW8F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__ptQqq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
}
.freeBox___8Gcks {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___8Gcks > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___8Gcks > :global(.__wab_flex-container) > *,
.freeBox___8Gcks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Gcks > :global(.__wab_flex-container) > picture > img,
.freeBox___8Gcks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.img__foaHs {
  object-fit: cover;
  height: 42px;
}
.img__foaHs > picture > img {
  object-fit: cover;
}
.img__foaHs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___8J7On {
  position: relative;
  object-fit: cover;
  height: 42px;
}
.img___8J7On > picture > img {
  object-fit: cover;
}
.img___8J7On > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__jf34R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
.freeBox__eVlE5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 56px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px;
}
.text__stnE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.column___9Wdt5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__faYSu {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  max-width: 100%;
  background: url("/plasmic/cfund_landing_page/images/mockupappSamplepng.png") top 0% left 50% / cover no-repeat;
  margin-top: 300px;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.partner {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  padding: 0px;
}
.partner > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.partner > :global(.__wab_flex-container) > *,
.partner > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.partner > :global(.__wab_flex-container) > picture > img,
.partner
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__gokDc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 36px;
}
.freeBox__gokDc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gokDc > :global(.__wab_flex-container) > *,
.freeBox__gokDc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gokDc > :global(.__wab_flex-container) > picture > img,
.freeBox__gokDc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.img__rHd0V {
  object-fit: cover;
  max-width: 64px;
}
.img__rHd0V > picture > img {
  object-fit: cover;
}
.img__rHd0V > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eiY15 {
  position: relative;
  object-fit: cover;
  height: 24px;
}
.img__eiY15 > picture > img {
  object-fit: cover;
}
.img__eiY15 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___66Y51 {
  object-fit: cover;
  max-width: 64px;
}
.img___66Y51 > picture > img {
  object-fit: cover;
}
.img___66Y51 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xgKV {
  object-fit: cover;
  height: 36px;
}
.img__xgKV > picture > img {
  object-fit: cover;
}
.img__xgKV > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xwjn0 {
  object-fit: cover;
}
.img__xwjn0 > picture > img {
  object-fit: cover;
}
.img__xwjn0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___9ZtFd {
  object-fit: cover;
}
.img___9ZtFd > picture > img {
  object-fit: cover;
}
.img___9ZtFd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__x6UGn {
  object-fit: cover;
  height: 42px;
}
.img__x6UGn > picture > img {
  object-fit: cover;
}
.img__x6UGn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__lZxDx {
  object-fit: cover;
  height: 64px;
}
.img__lZxDx > picture > img {
  object-fit: cover;
}
.img__lZxDx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__peVwY {
  object-fit: cover;
  height: 32px;
}
.img__peVwY > picture > img {
  object-fit: cover;
}
.img__peVwY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ourPeformance {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 90px 8px 72px;
}
.columns__nSi6A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 80px;
}
.columns__nSi6A > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__nSi6A > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nSi6A {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nSi6A > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__u4B5A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__h9Ufo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 600px;
  flex-shrink: 0;
}
.img__h9Ufo > picture > img {
  object-fit: cover;
}
.img__h9Ufo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__rRsPd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__rRsPd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__rRsPd > :global(.__wab_flex-container) > *,
.column__rRsPd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rRsPd > :global(.__wab_flex-container) > picture > img,
.column__rRsPd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__ysU0O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.text__iijoI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 32px;
  min-width: 0;
}
.freeBox__uDfDi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px;
}
.text__p4KsE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.onboard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  padding: 90px 80px 72px;
}
.h1__fXvh2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 32px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.columns___9Kwp9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns___9Kwp9 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___9Kwp9 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___9Kwp9 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___9Kwp9 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns___9Kwp9 > :global(.__wab_flex-container) > *,
.columns___9Kwp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9Kwp9 > :global(.__wab_flex-container) > picture > img,
.columns___9Kwp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Kwp9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Kwp9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Kwp9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__m0Kum {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__mEfRc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mEfRc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mEfRc > :global(.__wab_flex-container) > *,
.freeBox__mEfRc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mEfRc > :global(.__wab_flex-container) > picture > img,
.freeBox__mEfRc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__sx5Ci {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 250px;
}
.img__sx5Ci > picture > img {
  object-fit: cover;
}
.img__sx5Ci > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__nkOOy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: left;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.text___96KUh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  min-width: 0;
}
.column__jWbEx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__jWbEx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__jWbEx > :global(.__wab_flex-container) > *,
.column__jWbEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jWbEx > :global(.__wab_flex-container) > picture > img,
.column__jWbEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__rt9RN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 250px;
}
.img__rt9RN > picture > img {
  object-fit: cover;
}
.img__rt9RN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__rsmLr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: left;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.text__jIkfQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  min-width: 0;
}
.column__mQn8L {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__mQn8L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__mQn8L > :global(.__wab_flex-container) > *,
.column__mQn8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mQn8L > :global(.__wab_flex-container) > picture > img,
.column__mQn8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__tFhof {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 250px;
}
.img__tFhof > picture > img {
  object-fit: cover;
}
.img__tFhof > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__a2Xj3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  text-align: left;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.text__qpNo2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  min-width: 0;
}
.freeBox__n0Gw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px 80px;
}
.columns__tlDIb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tlDIb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__tlDIb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tlDIb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tlDIb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pxGD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__pxGD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__pxGD > :global(.__wab_flex-container) > *,
.column__pxGD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pxGD > :global(.__wab_flex-container) > picture > img,
.column__pxGD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1__aKc8T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.text__waDkt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__vCkEw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1QuVt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
}
.img___1QuVt > picture > img {
  object-fit: cover;
}
.img___1QuVt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__diCDm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-kRHozJO8I);
  min-width: 0;
  padding: 72px 80px;
}
.h1__kHRx8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 32px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__nTnLv {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xyNd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__prU0S {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.freeBox__prU0S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__prU0S > :global(.__wab_flex-container) > *,
.freeBox__prU0S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__prU0S > :global(.__wab_flex-container) > picture > img,
.freeBox__prU0S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__tsg1X {
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
.img__tsg1X > picture > img {
  object-fit: cover;
}
.img__tsg1X > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__hqxZr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.article__dvA5Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  font-size: 12px;
  min-width: 0;
}
.article__m6N3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__pUbQc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__kdpSf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.freeBox__kdpSf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kdpSf > :global(.__wab_flex-container) > *,
.freeBox__kdpSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kdpSf > :global(.__wab_flex-container) > picture > img,
.freeBox__kdpSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__oUmg {
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
.img__oUmg > picture > img {
  object-fit: cover;
}
.img__oUmg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__uiaJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.article___2B752 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  font-size: 12px;
  min-width: 0;
}
.article__fnPyh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__dLvO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___30Xv5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.freeBox___30Xv5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___30Xv5 > :global(.__wab_flex-container) > *,
.freeBox___30Xv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___30Xv5 > :global(.__wab_flex-container) > picture > img,
.freeBox___30Xv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__hAbhj {
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
.img__hAbhj > picture > img {
  object-fit: cover;
}
.img__hAbhj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__zJHe0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.article__ptoSt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  font-size: 12px;
  min-width: 0;
}
.article__d0PrM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__cyQ8B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___4MBFx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  border-radius: 12px;
  padding: 12px;
}
.freeBox___4MBFx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4MBFx > :global(.__wab_flex-container) > *,
.freeBox___4MBFx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4MBFx > :global(.__wab_flex-container) > picture > img,
.freeBox___4MBFx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.img__meGvf {
  object-fit: cover;
  max-width: 100%;
  border-radius: 12px;
}
.img__meGvf > picture > img {
  object-fit: cover;
}
.img__meGvf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__oKk21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.article__k8YWu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  font-size: 12px;
  min-width: 0;
}
.article__f6Iu6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__u72D4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 8px 8px;
}
.freeBox__gMkqk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px;
}
.text___2Yf5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__yjRah {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 72px 8px;
}
.h1__q8T6T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 24px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.antdCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__kUbFh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-ug0m5z0a8);
  min-width: 0;
  padding: 72px 8px;
}
.h1__fKlp5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 24px;
  color: var(--token-2dOOilx4I);
  min-width: 0;
}
.freeBox__dd5Z {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dd5Z > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__dd5Z > :global(.__wab_flex-container) > *,
.freeBox__dd5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dd5Z > :global(.__wab_flex-container) > picture > img,
.freeBox__dd5Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox__awRBq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 56px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px 36px;
}
.text__acEnn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__ryuyK {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 56px;
  max-width: 100%;
  background: #fd841b;
  box-shadow: 0px 12px 24px 0px #fd841b85;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 8px 36px;
}
.text___2EKl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.freeBox__ocSj1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 72px 8px;
}
