.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-aVjqAh_pV);
  min-width: 0;
  padding: 8rem 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--token-2dOOilx4I);
  padding-bottom: 2rem;
  text-align: center;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9Mc1W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___9Mc1W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___9Mc1W > :global(.__wab_flex-container) > *,
.column___9Mc1W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9Mc1W > :global(.__wab_flex-container) > picture > img,
.column___9Mc1W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardQa__cqnlu:global(.__wab_instance) {
  position: relative;
}
.cardQa__oQhrC:global(.__wab_instance) {
  position: relative;
}
.cardQa___5VVw0:global(.__wab_instance) {
  position: relative;
}
.cardQa__rqeOe:global(.__wab_instance) {
  position: relative;
}
.column__vDdus {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__vDdus > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__vDdus > :global(.__wab_flex-container) > *,
.column__vDdus > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vDdus > :global(.__wab_flex-container) > picture > img,
.column__vDdus
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.cardQa__y2FOs:global(.__wab_instance) {
  position: relative;
}
.cardQa__hMpnA:global(.__wab_instance) {
  position: relative;
}
.cardQa__xNtYo:global(.__wab_instance) {
  position: relative;
}
.cardQa__p61Iz:global(.__wab_instance) {
  position: relative;
}
