.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-kRHozJO8I);
  min-width: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 24px;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 80rem;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.contentWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 10rem 0px 0px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  text-align: center;
  padding-bottom: 24px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 32px;
  min-width: 0;
}
.buttonWrapper {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
.buttonWrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.buttonWrapper > :global(.__wab_flex-container) > *,
.buttonWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonWrapper > :global(.__wab_flex-container) > picture > img,
.buttonWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttonWrapper > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.googlePlay {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__owFgW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 55px;
}
.img__owFgW > picture > img {
  object-fit: cover;
}
.img__owFgW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__owFgW {
    height: 40px;
  }
}
.appsStore {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__rKx8 {
  object-fit: cover;
  max-width: 100%;
  height: 55px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
}
.img__rKx8 > picture > img {
  object-fit: cover;
}
.img__rKx8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__rKx8 {
    height: 40px;
  }
}
.img___7KfZk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 0;
  bottom: auto;
  height: 40rem;
  flex-shrink: 0;
}
.img___7KfZk > picture > img {
  object-fit: cover;
}
.img___7KfZk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___7KfZk {
    height: 20rem;
    flex-shrink: 0;
  }
}
