.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-bottom: 8rem;
  padding-top: 8rem;
  position: relative;
  background: url("/plasmic/cfund_landing_page/images/bg2Png.png") top 0% left 50% / contain no-repeat,
    var(--token-kRHozJO8I);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  color: var(--token-2dOOilx4I);
  padding-bottom: 0rem;
  text-align: center;
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80rem;
  color: var(--token-2dOOilx4I);
  padding-bottom: 2rem;
  text-align: center;
  min-width: 0;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 80rem;
  min-width: 0;
  padding: 2rem 0px 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__lkj99 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #01264c73;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.column__lkj99 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__lkj99 > :global(.__wab_flex-container) > *,
.column__lkj99 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__lkj99 > :global(.__wab_flex-container) > picture > img,
.column__lkj99
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__im0Cv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15rem;
}
.img__im0Cv > picture > img {
  object-fit: cover;
}
.img__im0Cv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__vzCuj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  padding-bottom: 0rem;
  padding-top: 2rem;
  text-align: center;
  min-width: 0;
}
.text__bAkzP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffffa6;
  min-width: 0;
}
.column__uBxE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #01264cbf;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.column__uBxE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__uBxE > :global(.__wab_flex-container) > *,
.column__uBxE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uBxE > :global(.__wab_flex-container) > picture > img,
.column__uBxE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__in0BE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15rem;
}
.img__in0BE > picture > img {
  object-fit: cover;
}
.img__in0BE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5__dQxRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  padding-bottom: 0rem;
  padding-top: 2rem;
  text-align: center;
  min-width: 0;
}
.text__oNsOe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffffa6;
  min-width: 0;
}
.column__gq2Pn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #01264c73;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.column__gq2Pn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__gq2Pn > :global(.__wab_flex-container) > *,
.column__gq2Pn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gq2Pn > :global(.__wab_flex-container) > picture > img,
.column__gq2Pn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img__fh0Ig {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15rem;
}
.img__fh0Ig > picture > img {
  object-fit: cover;
}
.img__fh0Ig > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5___2DUsE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2dOOilx4I);
  padding-bottom: 0rem;
  padding-top: 2rem;
  text-align: center;
  min-width: 0;
}
.text__i0LpX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffffa6;
  min-width: 0;
}
